[submodule "backend"]
	path = backend
	url = https://github.com/luisforni/vie-backend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/luisforni/vie-frontend.git
	branch = main
